#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px; /* Отступы по бокам */
    position: fixed; /* Закрепить в верхней части */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Чтобы navbar был поверх контента */
    box-sizing: border-box; /* Учитываем padding при расчете ширины */
    overflow: hidden; /* Избегаем прокрутки по горизонтали */
    transition: background 0.3s ease; /* Плавное изменение фона */
}

/* Стили для выпадающего меню */
#navbar .dropdown ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
}

#navbar .dropdown ul li {
    position: relative; /* Для размещения линии под текстом */
}

#navbar .dropdown ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease;
    position: relative;
}

#navbar .dropdown ul li a:hover {
    color: #000000; /* Цвет при наведении */
}

/* Линия под текстом при наведении */
#navbar .dropdown ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #00ff84; /* Цвет линии */
    transition: width 0.5s ease;
}

#navbar .dropdown ul li a:hover::after {
    width: 100%; /* Линия растягивается на всю ширину при наведении */
}

.navbar-search input {
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    transition: width 0.3s ease;
    background: #ffffff;
    box-shadow: none;
}

.navbar-search input:focus {
    width: 250px; /* Увеличение размера при фокусе */
    box-shadow: none; /* Убираем тень при фокусе */
}

.navbar-search input::placeholder {
    color: #0c0c0c;
    font-size: 14px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .dropdown ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .navbar-search {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-search input {
        width: 100%;
    }
}